<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Parallel Test Suite" parallel="classes" thread-count="3">-->
<suite name="Test automtion regression suite">
    <listeners>
        <listener class-name="com.w2a.testbase.BaseClass"></listener>
    </listeners>
    <test name="Bankmanagerlogin Tests">
        <classes>
            <class name="com.w2a.testcases.bankmanagerlogin.BML_CC_TS_001" />
            <class name="com.w2a.testcases.customerlogin.CSL_CC_TS_001" />
            <class name="com.w2a.testcases.customerlogin.CSL_CC_TS_002" />
            <class name="com.w2a.testcases.customerlogin.CSL_CC_TS_003" />
        </classes>
    </test>
</suite>
